{% extends 'base.html.twig' %}

{% block title %}New Robot{% endblock %}

{% block body %}
    <h1>Create new Robot</h1>

    {{ include('robot/_form.html.twig') }}

    <a href="{{ path('app_robot_index') }}">Back to list</a>
{% endblock %}
